$color: #5E6CAB;

.hint-icon {
    display: inline-flex;
    margin: 0px 5px;
}

.hint-icon .svg--active,
.hint-icon .svg:hover {
    stroke: $color;
}

.hint-icon__popupText {
    position: absolute;
    visibility: hidden;
    background-color: $color; 
    color: #fff;
    text-align: left;
    padding: 20px 15px;
    bottom: -114px;
    left: 80px;
    z-index: 1000;
    font-size: small;
}

.hint-icon__popupText::after {
    content: "";
    position: absolute;
    top: -16px;
    left: 0px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent $color $color;
}

.hint-icon:hover .hint-icon__popupText {
    visibility: visible;
}

.popupText--visible {
    visibility: visible;
}