.salaryResults {
    width: 400px;
    height: 100%;
    background-color: #FBF4DA;
    padding: 20px;

    @media(max-width: 500px) {
        width: auto;
    }
}

.salaryResults > span {
    margin-bottom: 5px;
}