// Customize common styles.
$body-bg: #f3f4f7;

// Customize radios.
$form-check-margin-bottom: 2px;
$form-text-margin-top: 0px;
$form-check-input-margin-y: 0px;

// Customize switchers.
$custom-control-indicator-checked-bg: orange;
$custom-control-indicator-active-bg: orange;
$custom-control-indicator-focus-box-shadow: orange;
$custom-control-indicator-bg: white;
$custom-control-indicator-border-color: white;
$custom-control-indicator-focus-border-color: white;

// Need include only after override variables.
@import '~bootstrap/scss/bootstrap.scss';

// FIXME. Didn't find a variable for this.
.custom-control-label::before {
    background-color: lightgrey;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}
