$smlOrange: #F5A534;

// Customize inputs.
$input-focus-box-shadow: white;
$input-focus-border-color: $smlOrange;
$input-border-radius: 20px;
$input-height: 30px;
$input-font-weight: bold;

// Customize radios.
$form-check-margin-bottom: 2px;
$form-text-margin-top: 0px;
$form-check-input-margin-y: 0px;
$custom-control-indicator-checked-color: black;

// Customize switchers.
$custom-control-indicator-checked-bg: $smlOrange;
$custom-control-indicator-active-bg: $smlOrange;
$custom-control-indicator-bg: white;
$custom-control-indicator-border-color: white;
$custom-control-indicator-focus-border-color: white;

// Need include only after override variables.
@import '~bootstrap/scss/bootstrap.scss';

html,
body,
#root {
    height: 100%;
    width: 100%;
}
